main {
    min-height: 100vh;
    background: linear-gradient(to bottom, #001F3F, #5300E8);
}

img {
    object-fit: cover;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
    /* Thin scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #2e2e2e;
    /* Track color (dark gray) */
}

::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    /* Thumb color (lighter gray) */
    border-radius: 10px;
    /* Rounded corners */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    /* Thin scrollbar */
    scrollbar-color: #b0b0b0 #2e2e2e;
    /* Thumb color (lighter gray) and Track color (dark gray) */
}

.blurred-background {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-nav {
    transition: background-color 0.2s ease-in-out;
}

.username-text {
    display: inline-block;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-picture {
    width: 40px;
    height: 40px;
}

.navbar-background {
    background-color: rgba(0, 0, 0, 0.9);
}

.scrollable-checkbox-group {
    max-height: 200px;
    /* Adjust the height as needed */
    overflow-y: auto;
}

@media (max-width: 576px) {
    .username-text {
        max-width: 150px;
        /* Reduce the max-width for smaller screens */
        font-size: 16px;
        /* Reduce the font size for smaller screens */
    }

    .profile-picture {
        width: 24px;
        /* Reduce the width for smaller screens */
        height: 24px;
        /* Reduce the height for smaller screens */
    }

    .nav-link {
        font-size: 24px;
    }
}